/* CSS file */

/* Fonts */

@font-face
{
  font-family: EuroStyle;
  fontWeight: normal;
  src: url('fonts/EurostileLTStd-Demi.otf');
  embedAsCFF: false;
}

@font-face
{
  font-family: EuroStyle;
  fontWeight: bold;
  src: url('fonts/EurostileLTStd-Bold.otf');
  embedAsCFF: false;
}

@font-face
{
  font-family: EuroStyle;
  fontWeight: bold;
  fontStyle: oblique;
  src: url('fonts/EurostileLTStd-BoldOblique.otf');
  embedAsCFF: false;
}
